body {
  background-color: rgb(196, 219, 194);
  margin: 20px 100px 20px 100px;
}

ul.navigationbar {
  list-style-type: none;
  margin: 0px 0px 8px 0px;
  padding: 0;
  overflow: hidden;
}

li.navigationbar {
  float: left;
}

li a.nav {
  padding: 8px;
  color:#000000;
  text-decoration: none;
}

h1 {
  color: rgb(28, 65, 36);
}
p {
  color: rgb(65, 63, 28);
}
button.button1 {
  background-color: #569458; /* Green */
  border-radius: 15px;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

button:hover {
  background-color: #8e413e
}
